[2020-04-09 13:12] ssolson opened #22 "WDRT: Integrating the WEC Design Response Toolbox"
The WEC Design Response Toolbox (WDRT) is an OpenSource python code hosted on GitHub ([code](https://github.com/WEC-Sim/WDRT), [docs](https://wec-sim.github.io/WDRT/index.html)). Some internal discussion has concluded that integrating the WDRT's capabilities into MHKiT could be beneficial as the WDRT provides WEC specific analysis for:
1. Environmental Characterization
2. Extreme Response
3. Fatig

[2020-04-10 23:08] kmruehl commented on #22
@ssolson This strategy/priority list sounds good to me. Here's my biggest question.

How do you want to structure WDRT integration into MHKiT? Is that something you'll decide as you begin the migration? Also worth considering, will the structure of the WDRT integration into MHKiT affect the functional vs object oriented nature of the implementation?

It seems like a) b) and c) belong in `waves.res

[2020-04-15 17:17] kmruehl commented on #22
@ssolson should I add aubreyeckert and adallman about this and the role of https://github.com/SNL-WaterPower/SNL-ESSC, the MATLAB precursor to WDRT

[2020-04-15 17:22] ssolson commented on #22
Yes I would be interested to know if anything was not captured in WDRT. Eventually, we may want to capture the plotting from ESSC for MHKiT-MATLAB.

[2020-04-15 17:28] kmruehl commented on #22
@ssolson added them both to the org.

[2020-04-15 23:15] kmruehl commented on #22
As an FYI, adding [SNL-ESSC](https://github.com/SNL-WaterPower/SNL-ESSC) developers to this thread: @aubreyeckert  @adallman
As an FYI, adding [WDRT ](https://github.com/WEC-Sim/WDRT)developers to this thread: @yuyihsiang and @nathanmtom

[2020-04-21 20:39] SeanPluemer opened #24 "Examples will not run"
Any example where the code is calling for the data in the examples folder will not run as they stand.
For example:
``# Load data from the csv file into a DataFrame``
``data = pd.read_csv('data/wave_elevation_data.csv', index_col='Time') ``
will result this error message:
``FileNotFoundError: [Errno 2] File data/wave_elevation_data.csv does not exist: 'data/wave_elevation_data.csv'``

The only way

[2020-04-21 20:48] kmruehl commented on #24
@SeanPluemer which example are you trying to run?

All of these examples should run as using a relative path since the data is included in the examples directory on GitHub: https://github.com/MHKiT-Software/MHKiT-Python/tree/master/examples/data. You should not need to specify a direct path to get the example to run. This may mean that the relative path for this example is incorrect.

[2020-04-21 20:51] kmruehl commented on #24
@SeanPluemer it looks like you're running https://github.com/MHKiT-Software/MHKiT-Python/blob/master/examples/qc_example.ipynb. This should run as a relative path if you are in the correct directory.

[2020-04-21 20:52] rpauly18 commented on #24
I just tried running the qc example that I believe @SeanPluemer was running. It ran just fine for me using the relative path. So, not sure what the issue is. Perhaps something has changed in the paths on your computer. I had also had my intern run these examples a while back and he said they ran fine as they were.

[2020-04-21 20:53] kmruehl commented on #24
@rpauly18 I agree. The relative path should work as is.

[2020-04-21 20:54] ssolson commented on #24
As it stands there is nowhere in the examples/ documentation which directs the user to run/ look for the data using a relative path correct? Essentially running the example from the examples folder.

[2020-04-21 20:56] kmruehl commented on #24
@ssolson The header of this example states "The data file used in this example is stored in the \MHKiT\examples\data directory." We could add that the example should be run from the examples directory.

[2020-04-21 21:07] ssolson commented on #24
Talking to Sean it seems that the issue here is that it was not clear that these need to be run as Jupyter Notebooks. I suggest at the "Examples" subheader we add a quick note on how to start a python notebook (or point to a Jupyter Notebook reference). And maybe on each example near the top say to run this as a Jupyter notebook (or point to a reference). It may seem obvious to us that these are n

[2020-04-21 21:16] kmruehl commented on #24
@ssolson sounds good to me.

@SeanPluemer I suggest adding a note to the top of each example, and modifying the examples documentation here: https://mhkit-software.github.io/MHKiT/python.html#examples to specify these are Jupyter notebooks and how to run the.

[2020-04-22 19:06] rpauly18 opened #25 "Power Module"
The power module for MHKiT will include functions for computing various types of power from time series of current and voltage (reactive, active, RMS, etc.), harmonics, and flicker. The latter two are used for power quality assessments and are described in IEC TS 62600-30. The rationale for creating a “power” module as opposed to a “quality” module are because there are many power computations tha

[2020-04-23 20:21] rpauly18 opened #27 "Loads Module"
Organization:
	There will be a loads submodule added to the wave, tidal, and river modules. Any functions that apply to multiple type of devices will be called upon across submodules like the repeated functions within the river and tidal device modules. Additionally, some utility functions are planned for data format conversions and statistic generations. These will be used across multiple functio

[2020-05-07 20:57] ssolson opened #32 "Deprecation Warning: Replace calls to Pandas Datetime"
test_wave.py makes call to Pandas Datetime e.g.:

[code]

The MHKiT Python should be reviewed to remove calls to pandas datetime.

[2020-05-11 15:22] ssolson commented on #22
Updates to WDRT Integration/Unit Tests:
WEC-Sim/WDRT#27

[2020-05-18 20:17] ssolson commented on #24
@SeanPluemer added a note clarifying that these were Jupyter notebooks in the documentation

[2020-05-18 20:17] #24 closed

[2020-05-19 15:31] rpauly18 opened #34 "Add pd.DataFrame as allowed input to functions"
pd.DataFrames should be allowed as input for functions due to the fact that DataFrames are the output for many functions.

First example of this issue is capture_length only allows for nd.array or pd.Series, while the energy_flux function returns a pd.DataFrame. The output of energy_flux is the input for capture_length. Other functions should be checked for the same issue.

Functions to be changed

[2020-05-20 19:51] ssolson commented on #34
Hey Rebecca. As a recap, I had DataFrames as inputs to functions in the River module. This implementation was rejected due to the need to have reserved column names.

If I understand correctly what you are proposing would have the same issue e.g. the user would need to specify what column names to use in the DataFrame in a dictionary or list or have a reserved name that the function expects when a

[2020-05-20 19:59] rpauly18 commented on #34
I think that would only be an issue if column names are being used for something in the function. If you are just applying some math for the df, it should not matter. Additionally, if you are passing two df, and you need to apply some math between them, we can change the column names to match within the function. We are implementing this in ac_power_three_phase and dc_power.

My main reason for th

[2020-05-20 20:04] ssolson commented on #34
Okay, so I think you are saying a user should be able to pass a DataFrame with a single column correct? Then, of course, the column name would need to used and we could just grab the first column.

I think this may warrant further discussion on if we should only return series. Because I believe this would solve your problem as well.

[2020-05-20 20:09] rpauly18 commented on #34
A while back Kate had begun working on methods to let MHKiT-Python know that it was MATLAB that was running it, which would allow for the Python functions to then be able to return Series if MATLAB is not running it. We should revisit those methods.

[2020-06-02 20:38] kmruehl opened #39 "Spectral Formulations"
See open issue on WEC-Sim repository related to the IEC specifications for spectra.
https://github.com/WEC-Sim/WEC-Sim/issues/358

[2020-08-05 20:50] rpauly18 opened #55 "Blade Load Calibration Functions"
Research the feasibility of adding functions to the loads module to apply blade strain gague calibrations. Applying calibrations is a tedious process, so a generic approach within MHKiT would be a useful addition. If applying a generic approach is possible, functions will be created and added to the loads module.

[2020-08-17 19:38] ssolson opened #56 "NDBC to MHKiT"
Add functionality to convert requested NDBC data to DateTime format and configure the data for use in MHKiT. The example in #53 shows a for loop which sets a DateTime index and removes the NDBC columns. This is a required step to use the data in MHKiT. Functionality that performed the conversion for the user would be useful as this will be a common step users will want to take.

An open discussion

[2020-08-17 19:40] ssolson opened #57 "Re-binning of Spectral Data"
The `wave.io.ndbc` `request_data` function currently returns a dictionary of DataFrames. For spectral data (parameter='swden') one obstacle to having a single DataFrame is that e.g. in 2004 the frequency bin range changes and the frequency bin discretization changes.

[ ] Create a function to consistently bin data taken at different frequency bins and ranges. This issue may appear in user collecte

[2020-08-17 20:01] ssolson opened #58 "Consistent Naming Across IO Modules"
Currently, the `wave`, `river`, and `tidal` io functions differ in naming convention.

[ ] Devise a plan to consistently request data from external sites across MHKiT modules.

[2020-08-17 20:12] ssolson opened #59 "Examples: Using Wave IO Functions"
PR #53 added new functionality to request data from NDBC. Examples of using this functionality will increase the ease of use for new users. Options to show an example include

- At a minimum modify the current wave example to use the new wave io functionality

- Add a second wave example to show how to pull the data. This will be done as the WDRT in incorporated. E.g. the first one being incorpora

[2020-08-18 17:56] scjames opened #61 "Ordering lake shoreline data"
When generating a flexible-mesh model, most grid-generation software (e.g., RGFGRID) require that lake shoreline data be ordered so that the boundary is swept continuously in the clockwise direction (even if this yields segments with convex curves). A quick Google search was not productive; it was difficult to find a tool/utility for what would seem a common request. MATPLOT has a "boundary" funct

[2020-08-18 20:50] ssolson commented on #61
@scjames thanks for your interest in MHKiT and submitting an issue. As discussed offline I and others at Integral have run into this issue when creating land boundary files for setting up simulations and created a python script that has done some of this that we could adapt to solve this common problem. I believe MHKit is a good fit for this type of function and we have some work related to this c

[2020-08-18 23:22] hivanov-nrel commented on #22
@ssolson @rpauly18 do you foresee any clashes/duplicate efforts of this tool and the loads module? Is there a plan for some sort of overall integration?

[2020-08-19 12:46] ssolson commented on #22
Good question I believe you are referring to the fatigue module in WDRT (Are you concerned about any of the other modules? I would characterize the others as resource assessment). I am not familiar with your current plan for the loads module so it is hard for me to say. The fatigue module in WDRT is essentially a rainflow calculation to get the equivalent load ([Docs](http://wec-sim.github.io/WDRT

[2020-08-19 15:30] hivanov-nrel commented on #22
I briefly looked at the code and docs. It seems like they are doing a simplified version of fatigue analysis to get to a damage equivalent load. However, the equation they are using differs from the new IEC loads standard.

I think the other functions look quite useful. They are more specific towards MEC devices. What is the time frame for integration of this tool? Perhaps I could work around some

[2020-08-19 15:34] ssolson commented on #25
@rpauly18 can we close this?

[2020-08-19 15:36] ssolson commented on #27
Closed by #51

[2020-08-19 15:36] #27 closed

[2020-08-19 15:36] #25 closed

[2020-08-19 15:37] ssolson commented on #32
Closed by #50

[2020-08-19 15:37] #32 closed

[2020-08-19 15:41] ssolson commented on #39
This was closed in WecSim by PR [#365](https://github.com/WEC-Sim/WEC-Sim/issues/365). Kelly what should our proposed path forward on this be?

[2020-08-19 15:58] ssolson commented on #22
My plan of attack/ first step for bringing you into the conversion would be to modify the WDRT fatigue module example results/plot to use the MHKiT loads module. However, as NREL lead lets have @rpauly18 weigh in on how to best apply your skillset.

My status on the conversion is that #53 is 95% complete and incorporates the request NDBC function from WDRT. I am currently working on the environmen

[2020-08-19 16:26] rpauly18 commented on #22
@ssolson and @hivanov-nrel I think it is a good idea for the two of you to work together on the fatigue functionality in WDRT with respect to merging it into MHKiT. We do not want to duplicate efforts and Chris will likely have insights into to best to improve the existing functionality.

[2020-08-19 17:57] kmruehl commented on #39
@ssolson I recommend we do that same with MHKiT, to update the wave spectrum formulations to follow IEC TS62600-2 standards.

[2020-08-20 22:29] ssolson commented on #56
Below is my proposed solution for the `ndbc.to_mhkit` format. This is essentially a functionalized version of Step 3 in the example given at the top of #53.

The highlights:
1. I believe the function should operate on a Dataframe and not the Dictionary of DataFrames
    - I prefer to operate on the DataFrame from a simplicity point of view. Further,  the for-loop shown below could easily be a one-

[2020-08-26 16:57] ssolson opened #66 "All Data to `examples/data`"
Currently, data is included in the `examples/data` and `mhkit/tests/data`.

 - [ ] All new data should be put in `examples/data`

 - [ ] Make a PR to move all legacy data from  `mhkit/tests/data` to  `examples/data`

[2020-09-01 17:19] rpauly18 opened #69 "Check for completeness of NDBC files in ndbc.request_data"
Add a test to check if the file being requested is complete and in the expected format.

Two errors have been thrown that are related to requesting data from NDBC.

1) In line 270 of ndbc.py when a file is incomplete the error "pandas.errors.EmptyDataError: No columns to parse from file" is thrown.

2) In line 269 of ndbc.py sometimes a "zlib.error:"  Error -5 or Error -3  is thrown. If you run th

[2020-09-01 17:21] rpauly18 commented on #69
@ssolson If you agree with the idea of using "try" and "except" statements, I can assign this to myself.

[2020-09-02 21:09] #66 closed

[2020-09-25 21:59] ryancoe opened #76 "NDBC station info"
It would super nice if your [`ndbc`](https://github.com/MHKiT-Software/MHKiT-Python/blob/master/mhkit/wave/io/ndbc.py) module could easily pull station info such as location (longitude, latitude), buoy type, water depth, etc.

![image](https://user-images.githubusercontent.com/5589887/94319495-fb2cce80-ff47-11ea-8f3d-42426c7f5d03.png)

[2020-09-28 13:16] ssolson commented on #76
Ryan agreed. I had been thinking about needing to do this. I believe that information is held in this location.

https://www.ndbc.noaa.gov/data/stations/station_table.txt

A simple string parser to match the head of the table. The longest part will just be writing the tests and going through reviews. I'll look into adding this during the quarter.

[2020-09-28 15:07] ryancoe commented on #76
Good idea. That table does not appear to include depth, watch circle, and probably a couple of other useful details that the station page does list.

[2020-09-28 21:29] ryancoe commented on #76
confession: I asked this question because I needed this functionality for a paper ;)

with the `station_table.txt` file I was able to make an ad hoc solution; thought I'd post it here in case it is helpful:

[code]

![image](https://user-images.githubusercontent.com/5589887/94488130-4b519e00-019f-11eb-9e39-3d7c0708b1f3.png)

[2020-09-29 13:10] ssolson commented on #76
Ryan this is great. I had been thinking about making a check_location that would help a user know if they had the right buoy/ coordinates which it looks like this could be adapted to do. You are right though it is missing the depth and other metadata about the buoy. I cannot find it in the https://www.ndbc.noaa.gov/data/ folder which will mean we would need to write a new custom function to web sc

[2020-09-29 18:47] kaklise opened #77 "QC updates in Pecos"
I'm working on updates to Pecos that will facilitate streaming analysis of continuous datasets.  This work also includes the ability to include user defined QC functions and create latex formatted reports.  Most of these changes do not impact the Pecos functions that are used by MHKiT, with the exception of a few minor changes to input arguments.  The custom QC functions are available using the ob

[2020-10-21 15:41] kaklise commented on #77
The updates have been merged into the master branch of Pecos.  Before I tag the release, we'll need to coordinate minor updates  needed on the MHKiT side.

[2020-10-21 21:54] ssolson commented on #77
@kaklise  thanks for coordinating this with us! In an email you state the following need to take place:

 In MHKiT-Python:
- No changes are needed in the MHKiT python package
- The check_delta test used in the qc_example jupyter notebook uses the input argument ‘window’ which is no longer optional (you could change window=window to window) but the example runs.

In MHKiT-MATLAB,
- check_delta, the

[2020-10-21 22:03] rpauly18 commented on #77
@ssolson will do on updating the Matlab side. The question will be, do we want to tag a new release, especially on pip to reflect these changes? We should plan to make these changes available as soon as @kaklise tags the new Pecos release.

[2020-10-21 22:09] ssolson commented on #77
Sound good to me. v0.3.1?

[2020-10-22 13:26] rpauly18 commented on #77
Yes, v0.3.1 would be fine with me.

[2020-10-23 21:24] ryancoe opened #78 "xarray please!"
@ssolson knows that I'm a big [`xarray`](http://xarray.pydata.org/en/stable/) evangelist... I need to use some NDBC data and I think we should update the [`ndbc.py`](https://github.com/MHKiT-Software/MHKiT-Python/blob/master/mhkit/wave/io/ndbc.py) module to output `xarray` `DataArray` objects.

I know @ssolson has already implemented parts of the snippet below (e.g., replacing `999.00` with `NaN`)

[2020-10-30 15:18] rpauly18 commented on #77
@kaklise I have the changes ready on the Matlab side ready to be merged as soon as Pecos is released. Let us know when that has happened.

[2020-10-30 15:21] rpauly18 commented on #77
@ssolson we also will need to update the requirements.txt to require the latest pandas since in the Matlab side I added the new optional argument for check_outlier. Can you make that update along with the python example notebook?

[2020-10-30 16:41] ssolson commented on #77
Can you specify the version of Pandas that is required now?

[2020-10-30 16:45] rpauly18 commented on #77
Sorry, I meant to type Pecos, not pandas. Do you know what version Pecos is being tagged too?

[2020-10-30 16:58] kaklise commented on #77
Pecos will be tagged for version 0.1.9

[2020-11-02 18:30] kaklise commented on #77
Pecos 0.1.9 has been tagged and is available to install through PyPI.

[2020-11-02 23:08] rpauly18 commented on #77
@ssolson I have not seen any changes on the Python side yet, will you have time to submit those soon? If not, I can get tot them first thing tomorrow morning.

[2020-11-03 14:01] ssolson commented on #77
The changes are "Optional" as stated above. My new and previously communicated plan (sorry) was to update the call to window in the QC example following the PECOS release. Does that sound like a good idea?

[2020-11-03 14:07] ssolson commented on #77
Looks like it is tagged so I will go ahead 😁

[2020-11-03 15:07] ssolson commented on #77
Closed with #79. I think you should be good to go with the MATLAB side now?

[2020-11-03 15:13] rpauly18 commented on #77
Yes, we will need to rebuild the docs and do the tags. Do you know how to tag on GitHub and PyPi or would you like for me to handle it?

[2020-11-03 19:43] ssolson commented on #77
I do not know how, I would like to work with you to learn but it looks you have already tagged it. When I click on the documentation v0.3.0 still shows up. Will this update later?

[2020-11-03 19:48] rpauly18 commented on #77
I have only tagged on GitHub so far. I remembered that we need to change the version in __init__.py, which I have submitted a PR for. I will email you the instructions for tagging on PyPi. Then I will merge and tag the Matlab side. I want to update the Docs last because there will be changes on the Matlab side that will need to be incorporated too. If you want we can jump on a call later this afte

[2020-11-14 00:44] b0ndman opened #81 "wrong issue, apologies"
Wrong issue, apologies

[2020-11-14 01:07] #81 closed

[2020-11-20 17:23] hivanov-nrel opened #82 "Incorporate vector averging in get_statistics"
Specific measurement channels such as wind direction or rotor azimuth require vector averaging when calculating statistics.

[2020-11-20 17:26] hivanov-nrel opened #83 "Add cumulative rainflow spectrum function"
Refer to IEC TS 62600-3, Section 10.7

[2020-11-20 17:33] hivanov-nrel opened #84 "Add lifetime damage equivalent load function"
Currently, a short-term damage equivalent load function exists in the loads module. However, many users will also likely be interested in calculating lifetime damage equivalent loads. This function will be heavily based on the documentation provided from Mlife software. A key point to keep in mind is implementing wave and tidal resources rather than wind.

[2020-11-23 19:19] rpauly18 opened #85 "Tidal Plots"
Ebb and Flood histograms of probability and exceedance probability. Examples below.
![Screen Shot 2020-11-23 at 12 19 02 PM](https://user-images.githubusercontent.com/50752018/100005374-140a0280-2d86-11eb-86e0-64aefc336eff.png)

[2020-11-23 19:22] rpauly18 opened #86 "DOLfYN and additional ADCP processing/ plots"
Port DolfYN functionality over to MHKiT and update to use Pandas/xarray.

Add Additional functionality. One useful type of plot to write a script for is the vertical profiles of current velocity. The IEC draft standards call for the presentation of U-binned mean vertical current profiles, where each profile is the mean of all of the time events where depth-averaged U or U at a particular height ab

[2020-11-23 20:08] #77 closed

[2020-11-23 20:12] #69 closed

[2020-11-23 20:13] #59 closed

[2020-11-23 20:22] #56 closed

[2020-11-23 20:22] rpauly18 commented on #57
@rpauly18 will reach out to wave resource IEC SMEs for advice on this.

[2021-01-12 16:58] Rjan821163 opened #88 "QC Module Loading Data"
Hello!

I have 32-yr hindcast data in a .csv file, and I am trying to use the "pd.read_csv" function to load the data.
In python I type:  data=pd.read_csv('Pacwave32.csv',index_col='Time')

However I keep getting an error message saying "there is no such file or directory." Do I need to make sure the csv file is in a specific folder before running this function?

Thank you!

[2021-01-12 16:59] Rjan821163 opened #89 "QC Module Loading Data"
Hello!

I have 32-yr hindcast data in a .csv file, and I am trying to use the "pd.read_csv" function to load the data.
In python I type:  data=pd.read_csv('Pacwave32.csv',index_col='Time')

However I keep getting an error message saying "there is no such file or directory." Do I need to make sure the csv file is in a specific folder before running this function?

Thank you!

[2021-01-12 18:07] ssolson commented on #88
Hey Rjan821163 thank you for your interest in MHKiT. Your specific question is not within the scope of MHKiT but is related to Pandas. If you think you have found a bug related to your query above I suggest you reach out to the pandas team. We unfortunately do not have the bandwidth to offer support outside the scope of MHKiT.

As a bit of friendly advice, I would suggest that you look to print yo

[2021-01-12 18:07] #88 closed

[2021-01-12 18:08] ssolson commented on #89
Duplicate of #88

[2021-01-12 18:08] #89 closed

[2021-01-12 23:14] Rjan821163 opened #90 "QC Module "Check for Data Outside Expected Range" Error issue"
Hi,

I am using the qc.check_range function, and after I define my expected bounds, I type:

"results = qc.check_range(results['cleaned_data'], expected_bounds)" to run the expected range quality control test.

However I get this error:  "TypeError: '<' not supported between instances of 'str' and 'float' "

I was successful in all other qc tests before using this function. How should I fix this i

[2021-01-13 14:57] rpauly18 commented on #90
Hi @Rjan821163, can you provide a more detailed error print out? Does it provide a line number for where the error is being thrown? Also, can you provide the line of code where you define your expected_bounds? Thanks!

[2021-01-20 18:47] Rjan821163 commented on #90
Hi, thank you for your reply!
I copied the code below. After I successfully complete the timestamp and corrupt data qc tests, I define the expected bounds and try to get the results. Then I get this error...

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/RachelAn/opt/anaconda3/envs/MHKiT/lib/python3.8/site-packages/pecos/monitoring.py", line 746, in check_

[2021-01-20 20:58] rpauly18 commented on #90
Is there any data in your dataset that would be non-numeric- like strings?

[2021-01-21 15:17] Rjan821163 commented on #90
The only non-numeric data are the titles of each column. Would they affect the analysis?

                    Time (YYYY-MM-DD-HH)  ...  Peak period (s)
1979-01-01 00:00:00        1979-01-01-00  ...           6.3657
1979-01-01 01:00:00        1979-05-31-00  ...           6.0119
1979-01-01 02:00:00        1979-10-28-00  ...          10.9205
1979-01-01 03:00:00        1980-03-26-00  ...          10.

[2021-01-21 15:37] rpauly18 commented on #90
Based on what I can see of your data it looks like you have a 2nd time column- presumably end time. If that is a column in your dataset, and not part of the index, that is likely the cause of your problem. Can you try removing that column from your data for this QC test?

[2021-01-22 20:07] Rjan821163 commented on #90
Thank you! I removed the column, and the qc.check_range worked.

I am also running into an error when I check for stagnant data (code below). Does the error mean that one of bounds needs to be "None"?

  File "<stdin>", line 1

    ^
SyntaxError: invalid syntax

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/RachelAn/opt/anaconda3/envs/MHKiT/lib/python3.8/s

[2021-01-22 20:24] ssolson commented on #90
Hello @Rjan821163! Thank you for your interest in MHKiT. In order to properly assist you, I need to ask that you create a minimum workable example(MWE) of the error you are experiencing so that the team here can help you best. There are lots of resources that you can find online about creating MWEs. This one is a good starting place: https://stackoverflow.com/help/minimal-reproducible-example

As

[2021-01-22 20:24] #90 closed

[2021-01-22 21:30] Rjan821163 opened #92 "QC Module - Stagnant Data Check Error"
I am running QC Module tests on hindcast data, and so far I have successfully completed the timestamp, corrupt data, and expected range tests, all of which had Empty DataFrames.

I am currently running the stagnant data test and want to check if there are any data that changes greater than 15 within a 3 hour window. Here is my input below:

However after this line I get an AssertionError: "key mus

[2021-01-25 14:00] ssolson commented on #92
Hey Rjan821163 thanks for your interest in MHKiT. In order to assist you best, I would need you to provide a minimum working example of your code as requested in #91.  Looking at what you did provide I believe your results['clean_data'] is not returning a Series. If this is not the issue I must request that you provide a minimum working example as previously requested in order to assist you furthe

[2021-02-01 17:41] Rjan821163 commented on #92
Thank you for being patient with me! I hope the code below is clearer.
I keep running into an Assertion Error when I try to  run the qc.check_delta function. I am not sure what to change in order to fix this issue. Thank you!

   Significant wave height (m)  Energy period (s)  Peak period (s)
0                       2.2084             9.1326           6.3657
1                       2.2269

[2021-02-01 17:58] ssolson commented on #92
Hey Rachel I think if you created a minimum working example (e.g. simplifying the problem) you might be able to determine what is going wrong. If you upload your pacwave.csv and Jupiter notebook I will take a look at it when I get a chance.

[2021-02-01 18:05] rpauly18 commented on #92
Hi Rachel,

Can you try updating your Pecos package? I believe you may have an older version. You can do this with "pip install --upgrade pecos"

[2021-02-01 20:41] kmruehl opened #93 "FFT feature"
Feature request from a WEC-Sim user to provide a FFT function and/or example to apply to time-series data.
https://github.com/WEC-Sim/WEC-Sim/issues/500

[2021-02-03 18:47] Rjan821163 commented on #92
I updated my pecos package, but unfortunately could not get rid of the error.
Also a .csv file type was not supported, so I attached a .txt file just so you can see the data I am using.

[Pacwave2.txt](https://github.com/MHKiT-Software/MHKiT-Python/files/5920650/Pacwave2.txt)

I tried to use Jupyter Notebook, but I kept running into "no module named 'mhkit' " errors. So I hope the code below will

[2021-02-08 21:39] rpauly18 commented on #92
Can you send us the print out from typing "pip list" in your terminal/command window?

[2021-02-09 16:48] Rjan821163 commented on #92
Here is the list that appeared after I typed "pip list"

Package                            Version
----------------------------------
alabaster                          0.7.12
anaconda-client                    1.7.2
anaconda-navigator                 1.9.12
anaconda-project                   0.8.3
applaunchservices                  0.2.1
appnope                            0.1.0
appscript

[2021-02-11 22:53] ssolson commented on #92
Rachel to made a couple modifications to your code in order to get a minimum working example. Here is the code I used:

[code]

For which everything worked great:
![image](https://user-images.githubusercontent.com/13438942/107708552-e9429280-6c80-11eb-8cc6-4b8d317ed481.png)

I did change your read csv to use a separation plus ('\s+') for the delimiter and changed the header of your file so that th

[2021-02-12 21:08] Rjan821163 commented on #92
I copied your code line by line and even used the same Pacwave2.txt file that was attached, but kept getting the same error.

BUT good news! I was able to fix the issue by typing this instead:

![Screen Shot 2021-02-12 at 4 06 36 PM](https://user-images.githubusercontent.com/77073903/107822581-5838ed80-6d4c-11eb-9456-33d0a7b082ff.png)

For some reason, when I defined the expected bound and window

[2021-02-12 21:08] #92 closed

[2021-02-23 20:53] rpauly18 opened #97 "Additional WPTO hindcast datasets"
New Regions have been added to the WPTO hindcast dataset. A new parameter will need to be added to the [hindcast.request_WPTO_point_dataset](https://github.com/MHKiT-Software/MHKiT-Python/blob/master/mhkit/wave/io/hindcast.py) to enable access to that data.

[2021-02-26 17:37] ssolson commented on #93
I believe scipy has great fft functionality. Ryan sent me a great example using the fft we can include with our examples for our users.

[ocean_waves_via_fft.zip](https://github.com/MHKiT-Software/MHKiT-Python/files/6051411/ocean_waves_via_fft.zip)

[2021-03-10 19:48] ssolson opened #100 "NREL-REX causing build failures"
Rebecca on my most recent push it looks as though NREL-Rex is suggesting the test location is outside of the domain.

Could you check out this error message from #91?

![image](https://user-images.githubusercontent.com/13438942/110688444-d13a3200-819e-11eb-888b-4011f9ac1851.png)

[2021-03-10 22:24] rpauly18 commented on #100
The hindcast team was updating the data and as it turns out we caught a bug in their data. It should be fixed tomorrow morning. I have also asked to see if they have any advice on the 429 To Many Requests error that sporadically happens.

[2021-03-10 22:40] rpauly18 commented on #100
For the 429 errors, there really is not a fantastic work around. The advice the NREL-Rex team gives is to run the tests using local .h5 files. The can be done easily by flipping the HSDS optional input parameter. I have been assured that there are no more structural changes planned to the data in the cloud- but it would be a risk that we could miss something. The up side would be we would no longe

[2021-03-10 22:43] ssolson commented on #100
I would vote to try the random wait prior to calling the function before adding larger files to the repo. Then if the error persist we could still go this route.

Is there an ETA on when they will fix the bug we found?

[2021-03-10 22:45] rpauly18 commented on #100
Bug should get fixed over night. I have tried the random wait time- but I will try even longer wait times tomorrow.

[2021-03-11 14:12] rpauly18 commented on #100
looks like this bug is fixed. I will test the wait time some more today.

[2021-03-23 15:05] #100 closed

[2021-03-23 15:07] ssolson commented on #85
Looks cool! Rebecca, can you get me the data that was used to create these? or did this come from a NOAA buoy? If from a NOAA buoy I can pull the data using the MHKiT function if I now which one.

[2021-03-23 15:15] rpauly18 commented on #85
I do not know the specific location where this data came from but it was made with the NOAA tides and currents data- so data pulled from any site should suffice to create a general function.

[2021-03-23 15:17] ssolson commented on #85
Right I was just hoping to recreate these using the same data if possible. Would be an easy check that I got it right.

[2021-03-23 16:07] ssolson opened #102 "Hindcast Multi-param returns non unique index"
When calling the WPTO hindcast function for multiple parameters it returns 2 identically indexed DataFrames concatenated together. See the screenshot below for example. So therefore if you requested 2 parameters for 1 day on a 1 hour basis you would end up with a DataFrame of length 48 (not the expected 24).

@rpauly18 is this the intended result or should they share the index?

![image](https://u

[2021-03-25 20:19] rpauly18 commented on #82
closed by https://github.com/MHKiT-Software/MHKiT-Python/pull/94

[2021-03-25 20:19] #82 closed

[2021-04-07 15:47] rpauly18 opened #105 "Hindcast 403 error"
Request to WPTO hindcast dataset triggers 403 error

[2021-04-07 15:51] rpauly18 commented on #105
@ssolson as an update: it looks like our hsds key gets blocked when we make a request from Travis. In my most recent commit I changed the hsds key we are using to my personal one, it failed, and now my personal one fails when I try running the code locally, which it was not doing before trying my key from travis. This tells me that the key likely got added to some kind of blocked list. I have a re

[2021-04-07 19:40] rpauly18 commented on #105
I have been able to get the API key to work locally again. Upon further inspection the Travis version changed on the first commit that failed. It looks like the .hscfg file is no longer being loaded properly in this new version. More investigation necessary.

[2021-04-21 19:37] ssolson opened #106 "Build failed for Python 3.9"
@rpauly18  the merge from this morning failed on the build and in a strange way.

For python 3.7, and 3.8 it passed. Py 3.9 failed on a dateframe assertion  error that the returned multiparameter was not the same size as expected.

Any idea what is going on here?

![image](https://user-images.githubusercontent.com/13438942/115610889-afa48e00-a2a6-11eb-98cf-81533fda0c75.png)

[2021-04-21 22:20] rpauly18 commented on #106
I am following up on this and will hopefully have an answer soon.

[2021-04-23 18:14] rpauly18 opened #109 "Travis CI no longer working"
It appears that Travis is not longer working. There have been the messages for a while that Travis was moving. Perhaps this is what is causing the issue?

[2021-04-23 18:15] rpauly18 commented on #106
closed by https://github.com/MHKiT-Software/MHKiT-Python/pull/107

[2021-04-23 18:15] #106 closed

[2021-04-23 18:16] rpauly18 commented on #105
closed by https://github.com/MHKiT-Software/MHKiT-Python/pull/104

[2021-04-23 18:16] #105 closed

[2021-04-23 18:55] rpauly18 commented on #109
Travis CI did run and showed up after the run was complete. So appears to be a slightly different issue than on MHKiT-Matlab.

[2021-06-18 13:02] rpauly18 commented on #109
@ssolson as of June 15th, Travis has migrated to Travis-ci.com, so any commits since then have not been run through travis. Looking into how to migrate over.

[2021-06-18 14:04] rpauly18 commented on #109
Got it set up. We will need to monitor our credit burn rate. Two runs went through 130 credits. I think we should start exploring other options besides Travis

[2021-06-28 16:07] ryancoe opened #116 "wave_number function fails with a single frequency"
The [`wave_number`](https://github.com/MHKiT-Software/MHKiT-Python/blob/d7bb6b731738eb7ef89eebf8315a715959555b3e/mhkit/wave/resource.py#L729) function fails when you pass only a single frequency (even if it is a single element `np.ndarray`).

[2021-06-29 20:43] rpauly18 opened #118 "Release 0.4.0"
@ssolson it appears that the new Xarray dependency is creating issues for python 3.7 in Travis (but not on my local computer). I will try to find a work around, but what are your thoughts on removing 3.7 as a supported Python version?

Issue with me continuing to try and debug the tests is that we are burning through our Travis credits very rapidly.

[2021-06-30 14:36] rpauly18 commented on #118
It was an incompatibility with numpy 0.21.1 that was causing the issue in Python3.7. I have set a version requirement. We will want to re-visit this issue since it is not the best to prevent numpy version updates long term.

[2021-06-30 15:37] #116 closed

[2021-07-06 14:52] ssolson commented on #118
Agreed that not updating numpy will need to be adjusted in the future.

wrt to testing, I have completed a github actions testing for another project which I would like to implement on MHKiT. Github actions allows us to test multiple python versions and operating systems (Windows, linux, mac).

[2021-07-06 14:54] rpauly18 commented on #118
Good. Github actions was what I was going to suggest we switch to. I have heard god things about it.

[2021-07-06 14:55] ssolson commented on #109
I will start setting up Github actions fo MHKiT

[2021-07-07 21:17] ssolson commented on #109
added in #121

[2021-07-07 21:17] #109 closed

[2021-07-07 21:22] ssolson commented on #102
fixed in #103

[2021-07-07 21:22] #102 closed

[2021-07-07 21:23] #93 closed

[2021-07-08 15:30] ssolson opened #123 "Py 3.7-latest and Windows Fails Hindcast multi-year test"
I believe the issue is with the developers not using os specific file separators. No idea why it only breaks on the latest version of 3.7 but they fixed similar issues for us previously when we initially added rex to MHKiT. The issue is here:

https://github.com/NREL/rex/blob/9a754a79ff483ddc8a17ca71dabaef4d9ba35d6f/rex/multi_year_resource.py#L146

where instead of

[code]

I believe is should be

[2021-07-19 16:23] #118 closed

[2021-07-21 13:08] #123 closed

[2021-07-21 17:34] ssolson commented on #61
Below is an arbitrary alpha shape function and plotting script. As can be seen, shoreline detail is currently being cut off. Increasing the detail leads to many smaller individual polygons. The concavity varies significantly throughout the shoreline and makes a single alpha parameter non-ideal. A couple of ideas I would want to try:

1. partitioning the data into smaller sections and considering i

[2021-07-22 17:38] #58 closed

[2021-09-01 14:46] rpauly18 opened #131 "WPTO Hindcast Region Selection"
From a user - "When I request the data for the white star point (see attached image), which is within the domain I enclosed in red, there is no issues.
When I request data for the black star point  which is outside of the red enclosed area but within the hindcast dataset I get the following error:

rex.utilities.exceptions.ResourceValueError: Latitude, longitude coordinates ([[  45.089521 -126.118

[2021-09-02 20:59] hivanov-nrel commented on #131
This issue is related specifically to rex. The bounds specified in region_selection are bigger and encompass the available hindcast data. The error message indicates that rex has bounds that are much smaller for some reason. I will let Michael know about this.

[2021-09-03 17:40] MRossol commented on #131
@rpauly18  and @hivanov-nrel,

I can't reproduce this in rex, the below tests runs without catching any errors. I ran this against our data on Eagle, the dev HSDS service and the production service (which I think MHKIT is using).

[code]

I also want to note that the bounds I get from the West_Coast_wave dataset are:

[code]

@hivanov-nrel  can you check what version of rex you are using and make

[2021-09-03 18:21] hivanov-nrel commented on #131
@MRossol I ran this using mhkit 0.4.0 and rex 0.2.64 and I am still getting the error. In MHKit it looks like we dont do anything fancy other than calling rex to extract data from the specified coordinates. Below is a snippet:

[code]

[2021-09-03 19:29] MRossol commented on #131
@hivanov-nrel, what wave_path are you using?

[2021-09-03 19:33] hivanov-nrel commented on #131
@MRossol see below:
[code]

[2021-09-03 19:37] MRossol commented on #131
@hivanov-nrel

What are the exact inputs that are failing? I already tried the West Coast and can't reproduce the error so I'm not sure what to try next...

[2021-09-03 19:50] MRossol commented on #131
@rpauly18 It looks like the request you made that failed was for the 1hr Virtual Buoy data, which is a SMALLER domain than the 3-hr spatial wave data. As the error states the location you requested is outside the bounds of the Buoy data we have.

[2021-09-03 19:54] rpauly18 commented on #131
Thanks @MRossol ! This was a request from a user so I will pass along that message. Is it possible to get the bounds of the virtual buoy data for each region so we can incorporate checks in the MHKiT functions as well?

[2021-09-03 20:00] MRossol commented on #131
@rpauly18, You can easily pull them using rex as follows:
[code]

That said, what I would do is just re-raise the error from rex and add some more information, for example:
[code]

rex raises a custom error: `ResourceValueError` so you can easily catch it with a try/except

[2021-09-03 20:28] hivanov-nrel commented on #131
@rpauly18 i think the error given by rex works well at the moment in my opinion. I will make sure to add this check on the matlab side.

[2021-09-03 20:29] rpauly18 commented on #131
Agreed. Thank you!

[2021-09-13 15:08] #131 closed

[2021-09-14 04:01] fleming79 opened #133 "requirements - numpy<1.21.0 ?"
I'm using winpython which provides [numpy 1.21.0+mkl](https://github.com/winpython/winpython/blob/master/changelogs/WinPython-64bit-3.9.5.0.md) . After running pip install mhkit causes uninstallation of numpy-mkl which subsequently breaks the the distribution.

Is the requirement numpy<1.21.0 a permanent feature?

Also, is there a reason that relative imports aren't being used between modules?

[2021-09-15 15:46] #85 closed

[2021-09-15 17:28] ssolson commented on #133
Please follow #135 as I check the status of numpy versioning.

We tend to use explicit imports as it is more readable and more clear exactly where things are being imported from. If you have some reason you think we should be using relative imports I would be interested to hear it.

Thank you for your interest in MHKiT.

[2021-09-15 17:37] ssolson commented on #133
The numpy versioning requirement has been removed.

[2021-09-15 21:19] #39 closed

[2021-09-17 21:06] fleming79 commented on #133
Thank you for making the change to the requirements. Can you tell me when do you plan to make a new release?

Regarding relative imports, I guess I'm more used to using them in modules, using them guarantees you get the exact module that you're looking for ... I had thought of adding mhkit as a submodule in my own modules so I had a bit more control over the source. But without having mhkit in the

[2021-09-20 14:10] ssolson commented on #133
Hello!

We are always working on MHKiT and releases occur when it makes sense.

You have full control over the source when you pip install -e from your github branch. Like you said this an unusual use case and we do not plan to design our package for it.

We have no plans to remove pecos. Thank you for your suggestion.

As we have solved the specific Numpy issue and to keep things tidy I am closin

[2021-09-20 14:10] #133 closed

[2021-10-12 16:51] ssolson opened #136 "WIndows Py 3.8 and 3.9 not running but passing"
The python 3.8 and 3.9  windows tests are not running but showing up as passing. The `main.yml` file in our Github actions folder is simply iterating over a list of python versions and operating systems. I am currently not sure what is causing this behavior.

![image](https://user-images.githubusercontent.com/13438942/136997490-af499f90-074e-4b7a-b105-693b558e3e58.png)

[2021-10-29 15:52] #136 closed, assigned to Matthew-Boyd

[2021-10-29 20:06] Matthew-Boyd opened #138 "Update to NumPy >1.21.0"
Update to numpy>1.21.0 and verify it passes tests here and in MHKiT-MATLAB

[2021-11-01 07:23] fleming79 opened #139 "Spectral bandwidth function"
This function always returns 1 for spectrums that I've passed. Do you have a ref for this function? Perhaps the brackets in the denominator are erroneous?

https://github.com/MHKiT-Software/MHKiT-Python/blob/dd927ba0e6eaaa1e5e829a48be1c62d02b0a25f7/mhkit/wave/resource.py#L503

[code]

[2021-11-01 15:40] ssolson commented on #139
Hey fleming! Thank you for your interest in MHKiT. Let me see if we can help you out.

@kmruehl I checked out the MHKiT test and the test is essentailly returning the value of 1 (e.g. in [test_wave](https://github.com/MHKiT-Software/MHKiT-Python/blob/dd927ba0e6eaaa1e5e829a48be1c62d02b0a25f7/mhkit/tests/test_wave.py#L445) calculated is equal to
0.9999999994879673). I am not sure is this is correct

[2021-11-01 23:28] kmruehl commented on #139
@ssolson I did a quick search and reviewed IEC TC114 62600-101, but cannot find this formula either. It's possible that it's from a textbook, but I do not currently have access to those. However, in my search I found discussion of this parameter, it appears there are many different possible formulas. In short, I think the formula should be revised (ore removed) and a citation added.

[2021-11-02 17:14] cmichelenstrofer opened #140 "wave elevation function is very slow"
[code]
is about 20 times slower than

[code]

[2021-11-04 20:08] cmichelenstrofer opened #142 "Time array not used correctly in wave.resource.surface_elevation"
Currently the different spectral arrays are being truncated using the start and  end time, e.g.
[code]
but these Panda arrays are indexed by frequency (Hz) not time.   It is not doing what it is supposed to be doing.

[2021-11-04 20:11] cmichelenstrofer commented on #142
Should the spectrum be truncated at all?

[2021-11-05 15:39] ssolson commented on #142
Hey Carlos this is a good discussion to have. There was a switch made early on in MHKiT for the wave module where a decsion was made to switch from time indexed to frequency indexed and I wonder if this is leftover from that. I also see that there is a comment questioning if things should be truncated at all. Similar to #139 this seems to be a non IEC formula and I cannot find a good reference for

[2021-11-05 15:57] cmichelenstrofer commented on #142
I'm pretty sure the correct way would be to not truncate.

[2021-11-05 15:57] cmichelenstrofer commented on #142
Also, the frequency bins are no longer needed as  a input. I can see that

[code]
was replaced with
[code]
Since S is indexed by frequency we can just calculate the entire delta_f like so  for all cases, so this is not needed:
[code]

[2021-11-05 15:59] cmichelenstrofer commented on #142
Also, the default value of `phase` should be `None` so that you can call the function repeatedly and create distinct realization of the sea state. I modified this, and made some changes to make the function faster, in the WDRT draft pull request (#141).

[2021-11-05 19:46] kmruehl commented on #142
@cmichelenstrofer  which function is this related to?

@ssolson did you get my email with references related to #139? I think the formulation should be changed and citation added.

[2021-11-05 19:50] cmichelenstrofer commented on #142
@kmruehl `wave.resource.surface_elevation`

[2021-11-05 20:29] kmruehl commented on #142
@cmichelenstrofer I agree that `omega` and `phase` should not be truncated by `start_time` and `end_time` since `S` is indexed by frequency, not time. I'm not sure when/why this was introduced, but it should be removed. Looking at the [history of this file](https://github.com/MHKiT-Software/MHKiT-Python/blob/f73e993b1b2737f8ea943f7cd12001ac393c41c2/mhkit/wave/resource.py), it appears to have been

[2021-11-05 21:04] cmichelenstrofer commented on #142
@kmruehl I think you are right, `delta_f = f.diff()` is not adequate because the given frequencies are at the bin centers not edges. Then I think we should:
1. Check that the frequency spacing is constant when the `frequency_bins` are not given.
2. Revert to `delta_f[0] = f[1]-f[0]` instead of `delta_f = f.diff()` (scalar instead of vector) when `frequency_bins` are not given.

[2021-11-05 21:05] cmichelenstrofer commented on #142
Note, there is a typo/bug:

[code]
The right hand side of the equality check should be `S` not `frequency_bins` again (which is always true).

[2021-11-05 21:09] cmichelenstrofer commented on #142
Also, when would the for loop be used? when does `S`  have more than one column?

[2021-11-05 21:10] cmichelenstrofer commented on #140
The calculation of `B` can be taken out of the for loop, it is time consuming and does not require `mcol`.

[2021-11-05 21:12] cmichelenstrofer commented on #140
Speed up by:

[code]
instead of
[code]

and

[code]
instead of
[code]

[2021-11-05 21:20] cmichelenstrofer commented on #142
@ssolson  I can make these changes and the ones in #140 and do a PR. The only thing I need to know is if there are cases when `S` has multiple columns.

[2021-11-05 21:22] kmruehl commented on #142
@cmichelenstrofer , yes there are instances when S has multiple columns

[2021-12-01 22:36] #140 closed

[2021-12-01 22:36] #142 closed

[2021-12-14 16:27] ssolson opened #144 "NREL-REX incompatible with latest h5py"
h5py has pushed version 3.6.0 which is incompatible with NREL-REX. Therefore MHKiT now requires h5py<=3.5.0

@rpauly18 can you reach out about NREL's plans to update the module? We may need to add a version requirement around h5py but because of the Matlab compatibility issues, this has the potential to exacerbate the h5py issues already being worked on.

[2021-12-14 17:03] Prithivi-Raj opened #145 "wat was the conclusion"

[2021-12-14 17:07] #145 closed, assigned to nobody

[2021-12-20 16:35] rpauly18 commented on #144
@ssolson my contact on the Rex team no longer works at NREL. They have a prescribed format for submitting issues. Can you submit an issue about this on their git page(https://github.com/NREL/rex/issues) ?

[2021-12-20 17:20] ssolson commented on #144
I just reinstall 0.3.6 and ran the wave tests without issue. As I cannot reproduce the issue again I will close this for now.

[2021-12-20 17:20] #144 closed

[2022-01-03 21:08] Alex-McVey commented on #78
Issue #57 is a potential example of where this may be applicable

[2022-01-06 17:34] mankleh opened #146 "Hindcast Module – Loading Data"
I have been running into issues with the Hindcast module when attempting to run using multiple years (generally over 5/6 years). I often run into the 429 Error “Too many Requests.”

Because of this error I was hoping to download the .h5 files from AWS and load files locally by turning the hsds flag to False. When I try to do this and run the function I get the error “FileInputError: Could not find

[2022-01-06 17:40] ssolson commented on #146
Thank you for your interest in MHKiT mankleh. Could you please provide a minimum working example that replicates this issue for us to look at?

[2022-01-06 19:17] mankleh commented on #146
[hindcastExamples.zip](https://github.com/MHKiT-Software/MHKiT-Python/files/7824181/hindcastExamples.zip)

I have a zip drive with two Jupyters files for each mentioned issue. I couldn't include the downloaded .h5 file due to size, but the example with the file loading issue I tried to locate "West_Coast_virtual_buoy_2005.h5" downloaded from AWS.

[2022-01-10 17:41] Matthew-Boyd opened #147 "XML reader is skipping lines"
The XML reader '_xml_to_dataframe()' in noaa.py is skipping every other line of data as it is assuming every line is duplicated (indicated by the TODO statements on lines 146 and 154). This however is at least not the case for the test 'test_request_noaa_data()' in noaa.py. Therefore, half the data is being omitted in the output dataframe.

Specifically, the response from the noaa query includes d

[2022-01-14 02:28] camirmas commented on #146
@ssolson I've created a fork of this repo with a change that allows users to specify a custom `.h5` path. I've only implemented it for the `waves` module for now, but I'd be happy to apply it elsewhere and submit a PR if the team is interested in adding it as a feature. Let me know what you think.

[2022-01-29 12:09] BinoBK commented on #93
Hi all, Can you please share the script that is mentioned in this thread?
Thanks,
Bino

[2022-01-31 14:53] ssolson commented on #93
Here you go:
https://docs.scipy.org/doc/scipy/reference/generated/scipy.fft.fft.html

[2022-01-31 17:58] ssolson opened #150 "Pandas Version 1.4.0"
The newest release of pandas causes errors in python 3.8 and greater. MHKiT currently requires less than 1.4 but this should be updated to be compatible with the latest version of pandas.

[2022-02-01 01:04] alimayt opened #151 "Finding Alaska Data"
I believe that the mhkit source code for extraction of hindcast data does not search the Alaska region yet (I know that Hindcast data was uploaded to AWS afterward). It seems like the region just needs to be added to the hindcast.py code, but I am not certain what the defining lat and lon are for the region. After failing using mhkit, I was able to extract the Alaska dataset using rex.

[2022-02-09 18:59] alimayt commented on #151
@rpauly18 do you have an idea of when it will be available or what kind of quality issues I should be looking for? I noticed a couple of years (1979,1991, and 2010) that seemed to be missing some data (in the case of 1991 the data isn't on AWS at all), and have worked around that, but other than that, all I really have to go off of in terms of "checking the quality" is the metadata and the journal

[2022-02-09 19:05] rpauly18 commented on #151
@alimayt I suggest you reach out to Aidan Bharath at Aidan.bharath@nrel.gov. He works directly on the hindcast data.

[2022-02-13 05:53] Matthew-Boyd opened #153 "Improper datetime conversion in CDIP IO"
Line 91 and 92 in cdip.py is converting POSIX time to a local time and then setting, instead of converting, the timezone to UTC. Instead, it should either convert the POSIX time to UTC by using utcfromtimestamp() instead of fromtimestamp(), or convert the local time to UTC by using .astimezone(pytz.timezone('UTC')) instead of .replace(tzinfo=timezone.utc)

[2022-02-13 05:57] Matthew-Boyd opened #154 "Last day of year being omitted in CDIP IO"
Line 253 and 257 in cdip.py, when the years parameter is specified, is setting the end_date of the query to only the beginning of the last day of the year.

[2022-02-23 17:46] cmichelenstrofer commented on #76
We will need this for the DLC project.

[2022-02-24 21:42] cmichelenstrofer opened #156 "WDRT - Fatigue"
The migration of WDRT for the latest release did not include the fatigue module.

**Task:** Add a fatigue load example similar to the one in WDRT. MHKiT has an equivalent load function similar to the one in WDRT, so maybe there is no need to migrate WDRT's function. Someone should verify this. Even then, the WDRT example calculates a long term fatigue load, not just based on the observation time p

[2022-02-24 21:44] cmichelenstrofer opened #157 "WDRT - Missing contours functionalities"
There are some functions in WDRT left to migrate into MHKiT.

**Task:** Migrate missing functionalities from WDRT Contours. I added place holder functions for these in `waves.contours`. This include calculating steepness curve and modifying contours appropriately, adding confidence intervals on the calculated contours using bootstrap, etc. These would need tests and examples too (e.g. the existing

[2022-02-24 21:46] cmichelenstrofer opened #158 "WDRT - Improve explanation of MLER"
Improve explanation of MLER in the example (e.g., what is the "desired" response Md?)

[2022-03-14 15:13] #153 closed

[2022-03-18 19:20] hivanov-nrel commented on #157
Below are the functions that need to be migrated from WDRT:

[code]

[2022-03-18 21:18] cmichelenstrofer commented on #157
[code]

[2022-03-21 20:26] cmichelenstrofer opened #162 "Run GitHub actions on `dev` branch"
The GitHub actions only run on PR to the `main` branch not on PR to the `dev` branch. Now that the `dev` branch is the default this should be updated.

[2022-03-22 10:22] #150 closed

[2022-03-25 19:57] #86 closed

[2022-04-04 14:07] rpauly18 opened #165 "Tidal Power Performance Functions"
### Performance submodule
- [ ] Review upcoming DOLfYN functions for overlap with IEC guidance
- [ ] develop functions for completing power performance assessment from tidal turbine
- [ ] higher level function for tidal device performance

[2022-04-06 15:45] ssolson opened #167 "Metocean Module"
@rpauly18 do you have suggestions for data or functions beyond pulling in NDBC wind data for our metocean module?

@akeeste and I were discussing what direction to head after PR #152 is merged.

[2022-06-07 16:43] akeeste commented on #167
Noting that we also had some discussion on using [Argo buoys](https://argo.ucsd.edu/) to get temperature and salinity over the entire water column. However these buoys drift over time which might pose some difficulties.

[2022-06-16 22:23] browniea opened #171 "Delft 3D Turbulent Intensity Function"
### Describe the bug:
The Turbulent Intensity Function runs slow when a large data set  in input.

### To Reproduce:
`d3d_data = netCDF4.Dataset('tanana50_map.nc') ` [data](https://github.com/browniea/MHKiT-Python/blob/d3d_2/examples/data/river/d3d/tanana50_map.nc)
`x_centerline = np.linspace(xmin, xmax, num=100)`
`y_centerline = np.mean([ymin,ymax])`
`z_centerline = np.mean([zmin,zmax])`
`centerl

[2022-06-21 23:15] browniea opened #172 "Delft3D z calculation"
### Describe the bug:
Add a clear description of what the refence of z is.

### The issue:
 In the code **[d3d.py](https://github.com/MHKiT-Software/MHKiT-Python/blob/master/mhkit/river/io/d3d.py)** two function output the z location of data points ( `get_layer_data`  and  `get_all_data_points` ).  The refence for this output needs to be clarified whether its the free surface or the zero water lev

[2022-06-22 01:26] browniea opened #173 "Delft3D interpolating nan with nearest"
### Describe the bug:
When interpolating data, data on the edges of the grid can come up as `nan` when interpolating with the method `nearest`.

### To Reproduce:
[example](https://github.com/browniea/Delft3D_verify/blob/verify/Delft3d_verify.ipynb)
`x_sample = np.linspace(xmin, xmax, num=100)`
`y_samples = np.mean([ymin,ymax])`
`z_samples = np.linspace(zmin,zmax, num=256)`
`sample_points = d3d.cr

[2022-07-12 16:00] ssolson opened #177 "NETCDF 1.6.0 Breaking Tests"
The latest version of NETCDF has breaking changes for MHKiT's tests during the installation process of the tests.

As an immediate fix, I will require the previous version of NetCDF in the Develop branch to complete the current PR to update the Development to the master branch for PR #176.

I will follow up on the error below in a future PR.

[code]

[2022-07-26 18:25] browniea opened #182 "Dolfyn processing errors"
## Processing RiverPro ADCP data with dolfyn #169
When processing .PDO files collected using a Teledyne [RiverPro](http://www.teledynemarine.com/riverpro-adcp) ADCP several files came back with an error due to a repeated time step  `cannot reindex or align along dimension 'time' because the index has duplicate values` [`case file`](https://github.com/browniea/Tanana_analysis/blob/main/Tanana_ADCP.

[2022-07-26 18:36] ssolson commented on #182
Hey @jmcvey3 I asked Emily to create an issue describing the current Dolfyn errors around processing her data using Dolfyn. From offline conversations it sounds like the issues may be caused by this being a newer model with 5 beams?  Could you comment on the need to have Dolfyn correctly interface with data from this instrument and maybe what you would suggest as to the best course of action to re

[2022-07-26 22:28] jmcvey3 commented on #182
DOLfYN has source code to read .PD0 files, which is TRDI's main binary format, from the Workhorse series of ADCPs. I'm not sure if DOLfYN has been tested with the Sentinel V and other 5 beam instruments, and judging by the "Unrecognized ID codes", there are additional data headers for the RiverPro ADCP. TRDI doesn't release integration guides, which makes it more difficult to decipher their format

[2022-07-26 22:46] jmcvey3 commented on #182
@lkilcher Of DOLfYN's readers, I'm the least familiar with `rdi.py`. Where did that original source code come from?

[2022-08-02 15:43] ssolson commented on #162
Fixed in commit #f3ba74d609d956c65b88315c58d2df93871f6e12

[2022-08-02 15:43] #162 closed

[2022-08-02 15:45] #151 closed

[2022-08-02 15:46] #139 closed

[2022-08-02 15:50] #22 closed

[2022-08-02 15:50] #34 closed

[2022-08-02 15:52] ssolson commented on #57
Closing due to inactivity.

[2022-08-02 15:52] #57 closed

[2022-08-02 15:53] ssolson commented on #61
Closing due to inactivity.

[2022-08-02 15:53] #61 closed

[2022-08-02 15:53] ssolson commented on #83
@hivanov-nrel did we implement this?

[2022-08-02 15:54] ssolson commented on #84
@hivanov-nrel did we implement this?

[2022-08-02 15:55] ssolson commented on #97
@rpauly18 did we complete this?

[2022-08-02 15:56] #138 closed

[2022-08-02 15:56] ssolson commented on #146
@rpauly18 what are your current thoughts on this issue?

[2022-08-02 17:06] rpauly18 commented on #97
Yes, closing issue

[2022-08-02 17:06] #97 closed

[2022-08-02 23:07] browniea commented on #182
Just heard back from Teledyne. The downloads should be available on their website portal: [https://tm-portal.force.com/TMsoftwareportal/s/](https://gcc02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftm-portal.force.com%2FTMsoftwareportal%2Fs%2F&data=05%7C01%7Ceabrow%40sandia.gov%7Caa8e452048ec447753e208da74d9a382%7C7ccb5a20a303498cb0c129007381b574%7C1%7C0%7C637950775360426564%7CUnknown%7CTW

[2022-08-04 14:41] ssolson opened #183 "Testing Consultation Summary"
I had a meeting with the testing group at Sandia this week and wanted to record some of the discussion.

I met with Reed and Miranda from the group [1424](https://cfwebprod.sandia.gov/cfdocs/CompResearch/templates/insert/dept.cfm?org=01424). MIranda works on Pyomo ([Website](http://www.pyomo.org/) | [Github](http://www.pyomo.org/)).

Suggestions for MHKiT from the initial consultation:
1. The most

[2022-08-04 16:21] ssolson commented on #182
@jmcvey3 what is the process to begin integration of the SDK with DOLfYN? Do you have thoughts on the difficulty level/ time rough expected time to complete if started?

[2022-08-04 16:28] ssolson commented on #172
Did we switch this to a standard output?

Do we still want to add a new/ custom output?

[2022-08-04 17:29] jmcvey3 commented on #182
My rough guess is 1-4 weeks of time, but it's hard to tell because I don't know what the issue is or what needs to be added.

[2022-08-04 17:33] ssolson commented on #182
Thanks, @jmcvey3! Emily has started to look into the issue. From our discussion today she indicated she could use your help understanding what needs to be done to integrate the SDK with DOLfYN. Could you potentially provide a high-level overview of what needs to be done... or is this more of a nonstandard addition that will be problem specific?

[2022-08-04 17:47] jmcvey3 commented on #182
I can walk through how the current reader works with her. Basically I'm expecting the SDK to contain key pairs consisting of an ID number and a code block, and I'm hoping all we need to do is add the missing ID-code bocks into dolfyn.

[2022-08-04 19:40] browniea commented on #172
Z is still calculated as "the depth from the zero-water level at the surface"

`d3d.py` lines 218-227
[code]

yes, I think instead of outputting `z` we want to output `depth` and move this to it's own function `depth_zero_water_level`

[2022-08-11 16:16] ssolson opened #184 "D3D Plotting Alpha Shapes/ Concave Hulls"
Emily as we try to plot the Tanana river check out the code from this issue I provided.

https://github.com/MHKiT-Software/MHKiT-Python/issues/61

[2022-08-11 16:47] ssolson commented on #172
- No custom z
- no surface reference option in the function
- Output water depth and water level always
- water level is a constant in z direction
- water depth is variable by % of layer

[2022-08-12 00:38] jmcvey3 commented on #182
Two things after looking into the SDK and trying some things:
1. Apparently they have been updating this file format and changing some things. Quite literally this means adding bytes "here" and taking them away "there", which appears to be the main reason @browniea's file is erroring out.
2. They have updated the id-key pairs for the dual profile Sentinel V instruments and 5th beam. If dolfyn sees

[2022-08-15 17:05] hivanov-nrel commented on #84
@ssolson we have not completed this....it has been on the back burner for awhile. Need to revisit if something provided by WDRT would be more favorable.

[2022-08-15 17:07] hivanov-nrel commented on #83
@ssolson not implemented yet

[2022-08-16 14:09] ssolson commented on #84
Thanks, @hivanov-nrel could you help me out by taking a look at the WDRT functionality (add in https://github.com/MHKiT-Software/MHKiT-Python/pull/141) and let me know what would be the plan to close out this issue?

[2022-08-16 18:06] jmcvey3 commented on #182
Realized this is also related to https://github.com/lkilcher/dolfyn/pull/92/.

[2022-08-22 21:32] hivanov-nrel commented on #84
@ssolson I discussed this issue briefly with Rebecca today. I think we can slate it to be available for the next release on June, 2023 at the latest with the goal of completing it in the January time frame. The steps will be:
1. Assess current WDRT fatigue calculation compared to IEC standards, ease of use for users, and industry relevancy
2. Implement either WDRT fatigue method or IEC standard ca

[2022-09-06 16:23] ssolson opened #188 "Example Notebook: Compare Tanana D3D to Experiment"
Create a notebook that demonstrates comparing Delft-3D simulations to experimental river data.

Plan of attack:
1. Use `d3d` module to plot Tanana river simulations
3. Plot experimental data
4. Plot experimental data using alpha shapes (see #61 for example)

[2022-09-06 16:26] #184 closed

[2022-09-06 16:28] browniea commented on #184
moved to #188

[2022-09-15 21:22] pbranson opened #191 "Feature Request: Directional Spectra from NDBC buoys"
A comment raised in OREC workshop was about getting directional spectral data from NDBC and it sounded like there was some code available. I would be interested in learning how to do that and helping to create a function.

Thanks!

[2022-09-16 17:02] ssolson commented on #191
Hey, @pbranson thanks for dropping by and for your interest in MHKiT!

My name is sters and I would love to show you around and help get you up to speed on MHKiT-python. The API Docs are [here](https://mhkit-software.github.io/MHKiT/python.html) where you can see NDBC under the wave module, io submodule.

The best way to get started using the NDBC code is by running the Environmental Contours exam

[2022-09-16 23:21] b0ndman opened #192 "h5py error when installing MHKiT on clean install"
### Describe the bug:
When installing a fresh install of MHKiT on a fresh environment, which includes all dependencies, this error is shown. Installation is with pip. This is **before any other dependencies like h5py are installed and dependencies are installed according to mhkit**
[code]

### To Reproduce:
From fresh install with no dependencies previously installed:
[code]

[2022-09-18 00:41] ssolson commented on #192
@b0ndman are you running Py 3.7?

[2022-09-18 17:36] b0ndman commented on #192
I normally run Py 3.9. There could be some funk going on with the IDE I'm using (pycharm) but my coworker was seeing a similar error. I'm not sure what version they're running

[2022-09-18 17:43] ssolson commented on #192
Windows and Py 3.7 were having issues in our integration tests. I temporarily fixed it by switching to conda install in #181. My plan is to close the current PRs and circle back to get pip working with 3.7 and windows, or if I can not then either deprecate 3.7 or switch our installation instructions to use conda instead of pip.

[2022-09-18 17:59] b0ndman commented on #192
I was able to reproduce the error with py 3.10 and latest update of pip 22.2.2. I'll try switching to conda instead of pip

[2022-09-18 18:19] ssolson commented on #192
We currently do not support 3.10. That is also on the To Do not mentioned in the previous plan for CI testing..

[2022-09-18 21:29] b0ndman commented on #192
I tried a clean environment with py 3.9 and was still getting the error with pip. Conda & Pycharm weren't talking to each other so I reverted back to mhkit v0.3.

[2022-09-19 02:09] b0ndman commented on #192
temporary fix is to force h5py version to 3.6.0 before installing the rest of mhkit.

[2022-09-19 02:09] #192 closed

[2022-09-29 17:01] ssolson commented on #188
Notes from meeting:
Mapping out transects on QGIS to get coordinates. Then use coordinates to plot the experimental data using MHKiT

[2022-10-06 16:32] ssolson commented on #188
Goal for next week:
 -  Create a draft PR that pulls in ADCP data and GPS data.
 - PR associate GPS data to the Xarray ADCP data in a single XARRAY object

[2022-10-10 18:40] cmichelenstrofer commented on #191
@ssolson This is an important feature request. I got it from at least 3 different people at the OREC workshop. Currently we are only getting the (omnidirectional) spectrum from NDBC (the SWDEN file). Getting the directional spectrum requires pulling 5 different files and processing them (there's an equation in the NDBC website). I have done this for myself in Julia. I can take on implementing it i

[2022-10-10 18:46] cmichelenstrofer commented on #191
from: https://www.ndbc.noaa.gov/measdes.shtml

with:

Notes:

[2022-10-11 06:57] lkilcher commented on #182
The original source for rdi.py was a reimplementation of Rich Pawlowicz’
matlab reader.

On Thu, Aug 4, 2022 at 8:21 AM ssolson ***@***.***> wrote:

--
Levi Kilcher

[code]

[2022-10-11 17:45] jmcvey3 commented on #182
Working on fix in https://github.com/lkilcher/dolfyn/pull/109

[2022-10-14 21:12] jmcvey3 commented on #173
"On the edges of the grid" - it's possible that scipy.interpolate (which is what I believe 'interp' is here) sees data on the grid edges as outside of the range of the input data. An easy way to check that is to set the `fill_value` keyword arg to "extrapolate" (`kwargs={'fill_value':"extrapolate"}`), and see if it still returns those nan's.

[2022-10-18 16:59] ssolson commented on #188
Emily can recreate the transect using [VMT](https://github.com/frank-engel-usgs/VMT). VMT is an outdated Matlab 2015 program that uses the output from WinRiver to combine the ADCP data. Currently, we are considering using the Matlab version of this to move forward with the paper but we will try to write some MHKiT code this week to see how far we can get. An additional issue when using the raw dat

[2022-10-20 01:09] browniea opened #195 "D3D Longitude and Latitude input in Create point"
Have an option to input 3 arrays: Longitude, Latitude and a range of depths.

[2022-10-20 16:41] ssolson commented on #188
- Clean up D3D bottom data in contour
 - work slightly more with 2010 data to see if can get GPS data working (see if can do all steps from Matlab -> winriver- python , now becomes all python). if not then switch to more recent data.
 - follow up with James
 - #195 is used in this process but may come after the paper

[2022-10-26 01:56] PyDeps opened #198 "Project dependencies may have API risk issues"
Hi, In **MHKiT-Python**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using

[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing API

[2022-10-27 16:19] ssolson commented on #188
Goal to get draft paper onto box this week
Next steps after that is to work on alpha shapes

[2022-11-07 17:00] ssolson commented on #198
Thank you for your interest in MHKiT. We currently find the dependency versioning of MHKiT sufficient and are working on improvements actively through our CI and testing efforts. If you have a specific issue please open a new issue. Thank you!

[2022-11-07 17:00] #198 closed

[2022-11-08 17:19] #172 closed

[2022-11-08 17:20] ssolson commented on #173
Addressed in #190

[2022-11-08 17:20] #173 closed

[2022-11-08 17:21] ssolson commented on #182
Fixed in #186

[2022-11-08 17:32] jmcvey3 commented on #182
It's not fixed with #186. I'm waiting to get test data from Emily (after it gets through UAF's release process) so I can cover the code additions.

[2022-11-09 16:29] cmichelenstrofer opened #201 "Include VIROCON contour methods?"
I will look at possibly including  the contour methods from [the Virocon package](https://github.com/virocon-organization/virocon).
E.g. [this one](https://virocon.readthedocs.io/en/latest/example.html). @ryancoe will reach out to them to make sure it is OK.

[2022-11-09 16:35] ssolson commented on #201
Sounds good to reach out. Looking at the package they have an MIT license which is permissive with respect to basically everything.

 distribute, sublicense, and/or sell copies of the Software, ...

 Are you thinking of making it a dependency or copying a specific method?

[2022-11-09 18:39] cmichelenstrofer commented on #201
Yes, but since this is a past collaborator we want to make sure (give them a heads up). I was thinking of making a dependency, but I have not looked at the code in detail yet.

[2022-11-09 19:58] ryancoe commented on #201
@cmichelenstrofer - can you illustrate what this would look like? My understanding is something like

[code]

Is that right? And the benefit would be that we would also add documentation for each of these in MHKiT (instead of referring to ViroCon documentation)?

[2022-11-09 20:12] cmichelenstrofer commented on #201
The benefit would be to have all our contour methods we use in the same package (MHKiT) instead of across packages (MHKiT, WDRT, ViroCon, etc). Even if the actual code is in another package we will have the full list in MHKiT and have Docstrings for it. The QC module in MHKiT similarly uses other dependencies, it is just a wrapper.

[2022-11-09 20:16] cmichelenstrofer commented on #201
I haven't looked at their code but there might need to be some modification of the args so that the MHKiT args are consistent with the other methods in MHKiT (that's another potential benefit). It would be something like

[code]

[2022-11-09 20:17] cmichelenstrofer commented on #201
@ryancoe we have one single `contour` function and you pass the `method` as one of the inputs.

[2022-11-09 20:26] ryancoe commented on #201
that's helpful, thanks. If you have a moment, take a look at how `virocon` is structured. I think it is pretty elegant.

[2022-11-09 20:53] cmichelenstrofer commented on #201
They use a class structure like we did in WDRT. It is well organized and they have several methods we do not. It is a nice package.

@ssolson and @akeeste something we have done in WecOptTool is try to use as much as possible existing packages, so that means we have had to make contributions to other packages to get what we need. But then the maintenance is not on us and there is no duplication of

[2022-11-09 21:33] ryancoe commented on #201
The aspect of the `virocon` structure that I like is how they break up the statistical model fitting and contour construction into different steps (see illustration here): https://virocon.readthedocs.io/en/latest/workflow.html

[2022-11-09 21:37] cmichelenstrofer commented on #201
I was just looking at that! I like that too. It's pretty cool! For the same model (e.g. OMAE2020) you can choose different methods: IFORM, ISORM, Direct, Highest Density. I really need to understand this stuff better tbh.

[2022-11-09 21:40] cmichelenstrofer commented on #201
@ryancoe That separation makes it different enough from MHKiT. It would need more thought on how to incorporate them in here. I say let's table this then. For the DLC we can simply use the one method from virocon that we want directly. @ssolson @akeeste up to you if you want to incorporate these methods in the future and whether to keep this issue open.

[2022-11-09 22:02] ssolson commented on #201
![myFile (2)](https://user-images.githubusercontent.com/13438942/200951193-e467fc07-51f9-49b5-a205-67bc17aac457.png)

[2022-11-10 08:17] d-andrievskaia opened #202 "KDE Method for environmental contours"
My question is regarding methodology used for the environmental contours’ calculation, particularly with KDE method. So the concern is that, when plotting contours for different return periods (1, 5, 10, 100 - years), these contours are getting closer and closer to each other with an increase in return period, so for the small bandwidths the difference between contours becomes almost indistinguish

[2022-11-10 17:38] ryancoe commented on #202
There's a good description of the KDE contours provided in the following papers:

- [A. Eckert-Gallup and N. Martin, "Kernel density estimation (KDE) with adaptive bandwidth selection for environmental contours of extreme sea states," OCEANS 2016 MTS/IEEE Monterey, 2016, pp. 1-5, doi: 10.1109/OCEANS.2016.7761150.](https://ieeexplore.ieee.org/abstract/document/7761150)
- [A. Eckert, N. Martin, R. G

[2022-11-10 19:02] ssolson opened #203 "Issue Accessing Hindcast Data at a specified location"
We cannot access direction wave spectrum data from the hindcast dataset hosted on NREL's HSDS. This issue first appeared in #194 where we merged a version of the MHKiT CI which does not check hindcast tests in order to close out a backlog of PRs.

The [issue](https://github.com/NREL/rex/issues/133) was brought to the nrel-rex team where we determined:
1. Neither of us seem to be able to pull the f

[2022-11-11 20:31] #191 closed

[2022-11-14 08:35] d-andrievskaia commented on #202
Hello @ryancoe, thank you for your response and for the papers! I indeed noticed that with an increase in bandwidth we get a larger spacing between the contours for different return periods. Just had doubts about the nature of this tendency.

Thank you again!

[2022-11-14 23:37] alimayt opened #204 "Wave annual average energy matrix graphic bug"
Hello. I found an error in the calculation performed in the graphics.py for plot_avg_annual_energy_matrix. The code should be taking an average (I believe), but instead it is a loop that iteratively adds the next value to the previous value and divides by 2, meaning (for example), for 3 years the loop would give an output of x0/4 + x1/4 +x2/2 instead of x0/3+ x1/3 + x2/3.

Beginning at line 455, i

[2022-11-15 19:17] cmichelenstrofer commented on #204
current:
[code]

Proposed:
[code]

[2022-11-15 19:22] cmichelenstrofer commented on #204
@ssolson @rpauly18 you wrote this function originally, can you confirm it is a bug?

[2022-11-15 19:38] ssolson commented on #204
hmm potentially. I didn't write this (I probably approved it though) but I believe this method is in the standard. I can check the standard and what exactly we are doing here tomorrow.

[2022-11-17 18:51] browniea opened #206 "Dolfyn reader estimates the number of pings in the file based on the length in bytes of the first ping"
### Describe the bug:
Comparing data from a Teledyne river pro ADCP processed by Teledyne software WinRiver to processing it in dolfyn. The data had 9020 points in  WinRiver and only 6507 points in dolfyn.

### Problem:
The found issue is that the Dolfyn reader estimates the number of pings in the file based on the length in bytes of the first ping. For this file the first data point is 1700 bytes

[2022-11-17 19:03] browniea opened #207 "Dolfyn incorrectly processing irregular Bin sizes"
### Describe the bug:
The Teledyn river pro has a mode to set bin depths to "auto." This produces data with a variable bin size ex:

delta depth:

  Columns 1 through 6

    0.1200    0.1200    0.1200    0.1200    0.3000    0.4800

  Columns 7 through 12

    0.4800    0.4800    0.4800    0.4800    0.4800    0.4800

  Columns 13 through 18

    0.4800    0.4800    0.4800    0.4800    0.4800    0.4

[2022-11-22 17:34] jmcvey3 commented on #206
I copied over a function from the nortek.py reader that estimates the length of the file based on the average of the first 50 pings, instead of the first. This solution allows dolfyn to read 8952 pings of the total 9020; the missing pings leave the last 56 s of the file unread. This may or may not be an issue depending on when the ADCP is turned off after data collection.

The number of pings in a

[2022-11-29 16:38] #204 closed